body {
    background-color:aquamarine;
}

    h1{
        text-align: center;
        justify-items: center;
    }



fieldset {
    height: 150px;
    width: 130px;
    background-color: rgb(200, 221, 144);
}

ol {
    justify-content: center;
}
button{
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 20%;
    margin-top: 90px;
}
p{
    font-size: small;
    text-align: center;
}


